# Project place file
/studio-discover.rbxlx
*.rbxm

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

plugin/generated/
plugin.old/generated/
sourcemap.json

# Wally
plugin/Packages/
plugin.old/Packages/

# Other
ref/
.claude/